---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Iota and the riffaheads'>
  <main>
    <div class="container">
      <section class="info">
        <div class="own-nfts">
          <figure class="red">
            <img src="/src/img/Replicante-1 1.png" alt="">
          </figure>
          <figure class="yellow">
            <img src="/src/img/Plantilla-NFT-Replicante-APGADA 3.png" alt="">
          </figure>
          <figure class="blue">
            <img src="/src/img/Replicante-3 2.png" alt="">
          </figure>
          <figure class="green">
            <img src="/src/img/Replicante-3 2.png" alt="">
          </figure>
        </div>
        <div class="cel-main">
          <figure class="main-cel">
            <img src="src/img/VIRUS-EVO-0XX-PHASE-G1-gif 1.png" alt="">
          </figure>
        </div>
      </section>

      <section class="hero">
        <div class="potion">
          <article class="potion-red">
            <p>Información poción</p>
            <figure>
              <img src="/src/img/roja 1.png" alt="">
            </figure>
          </article>
          <figure class="green-potion">
            <img src="/src/img/verde 1.png" alt="">
          </figure>
        </div>
        <div class="titol">
          <h1>Recharge your Energy</h1>
          <p>Select your power</p>
        </div>
        <div class="potion">
          <figure class="red-yellow">
            <img src="/src/img/amarilla 1.png" alt="">
          </figure>
          <figure class="green-blue">
            <img src="/src/img/azul 1.png" alt="">
          </figure>
        </div>
      </section>

      <section class="result">
        <div class="result-cel">
          <figure>
            <img src="/src/img/VIRUS-EVO-0XX-PHASE-G1-gif 1.png" alt="">
          </figure>
          <button class="btn" type="button">
            <strong>APPLY</strong>
            <div id="container-stars">
              <div id="stars"></div>
            </div>
            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>

</style>
