section.hero{
    position: relative;
    width: 100%;

    div.potion{
        display: flex;
        padding-bottom: 20px;

        figure{
            width: 100%;
            display: flex;
            justify-content: center;

            img{
                width: 50%;
            }
        }
    }

    div.titol{
        text-align: center;
        color: #0BEB00;
        font-size: 25px;
        font-weight: 400;
        padding-bottom: 20px;
        
        
        h1{
            font-size: 25px;
            padding-bottom: 10px;
        }
    }
}

@include breakpoint(desktop){
    section.hero{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div.potion{
            width: 100%;
            justify-content: space-around;
            padding-top: 20px;
            figure{
                width: 400px;
            }
        }

        div.titol{
            h1{
                padding-top: 10px;
            }
        }
    }
}

@include breakpoint(desktopXl){
    section.hero{
        div.potion{
            padding-left: 50px;
        }
    }
}